.grid {
  display: grid;
  grid-gap: 4px;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  grid-template-columns: repeat(auto-fill, 16px);
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06);
}

.square {
  height: 16px;
}
